openapi: "3.0.3"
info:
  title: ANDFLIX-API
  description: |
    Simplified REST API untuk streaming.

    Proxy yang menyederhanakan akses ke layanan streaming menjadi endpoint RESTful yang mudah digunakan.

    ## Endpoints Utama

    - `POST /getHome` — navigasi + konten halaman utama
    - `POST /search` — pencarian film, drama, TV
    - `POST /getDetail` — detail konten + player streaming + subtitle
    - `GET /image` — proxy gambar (cover/poster)
    - `GET /subtitle` — proxy subtitle SRT (difilter: Indonesia & English)
    - `GET /stream` — proxy HLS (m3u8 rewrite + segment .ts)

    ## Header

    Header berikut bersifat opsional untuk manajemen session upstream:
    - `X-Device-Id` — device ID (dibuat otomatis jika tidak dikirim)
    - `X-Aeskey-Internal` — AES key internal (dibuat otomatis)
    - `X-Token` — token upstream (opsional)

    ## Catatan

    - Subtitle hanya bahasa Indonesia (in_ID/in) dan English (en/en_US)
    - URL gambar, subtitle, dan stream otomatis di-rewrite ke proxy endpoint
    - `resourceStatus`: 1 → "Sedang Tayang", 2 → "Selesai"
  version: "2.0.0"
servers:
  - url: https://api-andflix.andjnet.dpdns.org
    description: Production server
  - url: http://localhost:9996
    description: Development server

components:
  parameters:
    DeviceIdHeader:
      name: X-Device-Id
      in: header
      required: false
      schema:
        type: string
      description: Device ID dari response proxy sebelumnya
    TokenHeader:
      name: X-Token
      in: header
      required: false
      schema:
        type: string
      description: Token upstream (opsional)
    AeskeyInternalHeader:
      name: X-Aeskey-Internal
      in: header
      required: false
      schema:
        type: string
      description: AES key internal (PC API only)
  schemas:
    H5SubtitleItem:
      type: object
      properties:
        language:
          type: string
        languageAbbr:
          type: string
        subtitlingUrl:
          type: string
          example: "/subtitle?url=https://..."
        translateType:
          type: integer
    StreamItem:
      type: object
      properties:
        definition:
          type: string
          enum: [GROOT_HD, GROOT_SD, GROOT_LD, GROOT_FD]
        url:
          type: string
          example: "/stream?url=https://..."
    PlayerInfo:
      type: object
      properties:
        id:
          type: integer
        seriesNo:
          type: integer
        name:
          type: string
        subtitles:
          type: array
          items:
            $ref: "#/components/schemas/H5SubtitleItem"
        duration:
          type: integer
          nullable: true
        urls:
          type: array
          items:
            $ref: "#/components/schemas/StreamItem"
    ContentListItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        contentType:
          type: string
        genres:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: string
        year:
          type: integer
        rating:
          type: number
          format: float
          nullable: true
        cover:
          type: string
        poster:
          type: string
        description:
          type: string
        episodeCount:
          type: integer
          nullable: true
        status:
          type: string
        statusCode:
          type: integer
          nullable: true
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        service:
          type: string
          example: loklok-proxy
    NavItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    HomeContentItem:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        contentType:
          type: string
        genres:
          type: array
          items:
            type: string
        year:
          type: integer
          nullable: true
        rating:
          type: number
          format: float
          nullable: true
        cover:
          type: string
        poster:
          type: string
        description:
          type: string
        episodeCount:
          type: integer
          nullable: true
        status:
          type: string
        statusCode:
          type: integer
          nullable: true
    HomeSection:
      type: object
      properties:
        type:
          type: string
        Name:
          type: string
        ContentList:
          type: array
          items:
            $ref: "#/components/schemas/HomeContentItem"
    HomeResponse:
      type: object
      properties:
        error:
          type: string
        navList:
          type: array
          items:
            $ref: "#/components/schemas/NavItem"
        sectionList:
          type: array
          items:
            $ref: "#/components/schemas/HomeSection"
    SearchResponse:
      type: object
      properties:
        error:
          type: string
        result:
          type: array
          items:
            $ref: "#/components/schemas/ContentListItem"
    DetailResponse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        contentType:
          type: string
        category:
          type: integer
        genres:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: string
          nullable: true
        year:
          type: integer
          nullable: true
        rating:
          type: number
          format: float
          nullable: true
        cover:
          type: string
        poster:
          type: string
        description:
          type: string
        episodeCount:
          type: integer
          nullable: true
        episodeRelease:
          type: integer
        status:
          type: string
        statusCode:
          type: integer
          nullable: true
        playerInfo:
          $ref: "#/components/schemas/PlayerInfo"
        recommendations:
          type: array
          items:
            $ref: "#/components/schemas/ContentListItem"
        totalDuration:
          type: integer
          nullable: true

paths:
  /image:
    get:
      summary: Proxy gambar (cover/poster)
      operationId: proxyImage
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Gambar
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          description: Missing url parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "502":
          description: Gagal fetch gambar
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /subtitle:
    get:
      summary: Proxy subtitle (SRT)
      operationId: proxySubtitle
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: File SRT
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Missing url parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "502":
          description: Gagal fetch subtitle
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /stream:
    get:
      summary: Proxy stream (m3u8 / segment .ts)
      operationId: proxyStream
      description: |
        Proxy HLS stream. Untuk file m3u8, semua URL di dalamnya di-rewrite
        menjadi `/stream?url=...` agar segment .ts juga terproxy.
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Stream content (m3u8 atau .ts)
          content:
            application/vnd.apple.mpegurl:
              schema:
                type: string
            video/MP2T:
              schema:
                type: string
                format: binary
        "400":
          description: Missing url parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "502":
          description: Gagal fetch stream
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /health:
    get:
      summary: Health check proxy
      operationId: healthCheck
      responses:
        "200":
          description: Proxy berjalan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /getHome:
    post:
      summary: Home — navigasi + konten
      operationId: getHome
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - page
                - navId
              properties:
                page:
                  type: integer
                  example: 0
                navId:
                  type: integer
                  example: 1
      responses:
        "200":
          description: |
            Response home — berisi navigasi dan konten rekomendasi dalam satu panggilan.
          headers:
            X-Device-Id:
              schema:
                type: string
            X-Aeskey-Internal:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HomeResponse"

  /search:
    post:
      summary: Pencarian konten
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - size
                - keyword
              properties:
                size:
                  type: integer
                  example: 10
                keyword:
                  type: string
                  example: one piece
      responses:
        "200":
          description: Hasil pencarian
          headers:
            X-Device-Id:
              schema:
                type: string
            X-Aeskey-Internal:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"

  /getDetail:
    post:
      summary: Detail konten + play info
      operationId: getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - category
                - episode
              properties:
                id:
                  type: integer
                  example: 103934
                category:
                  type: integer
                  enum: [0, 1]
                  example: 1
                episode:
                  type: integer
                  example: 1
                  description: "Nomor episode. 0 = tanpa playInfo"
      responses:
        "200":
          description: Detail konten + rekomendasi + play info (jika episode > 0)
          headers:
            X-Device-Id:
              schema:
                type: string
            X-Aeskey-Internal:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetailResponse"
